/* Container styling */
.card {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.card h2 
{
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

/* Form group spacing */
.form-group {
  margin-bottom: 20px;
}
label {
  display:block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

.required {
  color: red;
  margin-left: 4px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #0bb063;
  border-radius: 4px;
  font-size: 1rem;
}
.error {
  color: #d9534f;
  font-size: 0.9rem;
  margin-top: 4px;
}

/* Submit button */
/* .submitbutton{
    height: 30px;
    width: 60px;
    color: #052004;
    background-color: #66d8de;
    cursor: pointer;
} */