/* .logo {
    background-color: #EDE6E6;
 
} */

/* .ribbon {
    width: 569px;
    height: 569px;
    padding: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
} */

/* h1 {
    color: black;
    text-align: center;
}

h5 {
    color: grey;
    text-align: center;
}

h4 {
    color: grey;
    text-align: center;
}

button{
    width: 50%;
    padding: auto;
    background-color: #007bff;
    color: white;
    border: black;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    align-self: center;
}  */