<div class="bg-white rounded-xl border p-6 border-[#D5CFCF] mt-8 shadow-xl">
  <h2 class="font-semibold">Shift Swap Request</h2>
  <p class="text-sm text-gray-500 mb-6">
    Requests to swap shift with other employees
  </p>

  <div class="space-y-6">
    @for(request of shiftSwapRequestList; track request.shiftSwapId){
    <div class="p-5 rounded-lg border border-[#D5CFCF] shadow-md">
      <div class="flex justify-between items-start mb-4">
        <div class="">
          <p class="font-semibold">From: {{ request.fromEmployeeName }}</p>
          <p class="font-semibold">To: {{ request.toEmployeeName }}</p>
        </div>
        <span
          class="text-sm bg-gray-400 text-gray-700 px-2 py-1 rounded-lg border border-[#505050] shadow-sm"
          [ngClass]="{
            'bg-green-200 text-green-600': request.status === 'APPROVED',
            'bg-red-200 text-red-600': request.status === 'REJECTED'
          }"
        >
          {{ request.status | titlecase }}
        </span>
        <div class="space-x-4">
          <button
            class="border bg-green-500 py-1 px-2 rounded-full hover:bg-green-300 disabled:opacity-60 disabled:cursor-not-allowed"
            (click)="onApprove(request.id)"
            [disabled]="
              request.status !== 'PENDING' || processingIds.has(request.id)
            "
          >
            Approve
          </button>
          <button
            class="border bg-red-500 px-2 py-1 rounded-full hover:bg-red-300 disabled:opacity-60 disabled:cursor-not-allowed"
            (click)="onReject(request.id)"
            [disabled]="processingIds.has(request.id)"
          >
            Reject
          </button>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 text-sm">
        <div class="">
          <p class="mb-1 font-semibold">Offering Shift:</p>
          <p>
            {{ request.offeringShiftDate | date : "mediumDate" }}
          </p>
          <p>
            {{ request.offeringShiftStartTime | date : "shortTime" }} -
            {{ request.offeringShiftEndTime | date : "shortTime" }}
          </p>
          <p>{{ request.offeringShiftType | titlecase }} Shift</p>
          <p class="text-gray-700 italic">
            Location: <span>{{ request.offeringShiftLocation }}</span>
          </p>
        </div>
        <div>
          <p class="mb-1 font-semibold">Requesting Shift:</p>
          <p>
            {{ request.requestingShiftDate | date : "mediumDate" }}
          </p>
          <p>
            {{ request.requestingShiftStartTime | date : "shortTime" }} -
            {{ request.requestingShiftEndTime | date : "shortTime" }}
          </p>
          <p>{{ request.requestingShiftType | titlecase }} Shift</p>
          <p class="text-gray-700 italic">
            Location: <span>{{ request.requestingShiftLocation }}</span>
          </p>
        </div>
      </div>
      <div class="flex justify-between items-start">
        <div class="mt-3 text-sm text-gray-500">
          <p class="text-sm text-gray-500">
            Reason: <span>{{ request.reason }}</span>
          </p>
        </div>
        <div class="mt-3 text-gray-400">
          <p class="text-xs">
            Handled Date:
            <span class="font-semibold italic">{{
              (request.approvedDate | date) || "--"
            }}</span>
          </p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
