@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  text-rendering: optimizeLegibility;
  font-family: "Lexend", sans-serif;
}
